<div>
    <h2>Login Page using Template Driven Form</h2>
    <form #loginRef="ngForm" (ngSubmit)="checkUser(loginRef)">
        <label>UserName</label>
        <input type="text" name="user" ngModel required minlength="2"/>
            <div *ngIf="loginRef.controls['user'].invalid && 
            (loginRef.controls['user'].dirty || loginRef.controls['user'].touched)">
                <span [hidden]="!loginRef.controls['user'].errors?.['required']" style="color:red">
                        UserName is required
                </span>
                <span [hidden]="!loginRef.controls['user'].errors?.['minlength']" style="color:red">
                   min length 2 character
                </span>
            </div>
        <br/>
        <label>Password</label>
        <input type="password" name="pass" ngModel required pattern="[a-z]+@[a-z]+.com"/>
        <div *ngIf="loginRef.controls['pass'].invalid && 
        (loginRef.controls['pass'].dirty || loginRef.controls['pass'].touched)">
            
        <span [hidden]="!loginRef.controls['pass'].errors?.['required']" style="color:red">
            Password is required
        </span>
        <span [hidden]="!loginRef.controls['pass'].errors?.['pattern']" style="color:red">
            pattern must be match
        </span>

        </div>
        <br/>
        <input type="submit" value="submit" [disabled]="!loginRef.valid"/>
        <input type="reset" value="reset"/>
    </form>

    <span style="color:red">{{msg}}</span>
</div>