<div>
    <h2>Attribure Directive Example</h2>
    <p style="color:red">Welcome to Angular Framework - Change color using inline css </p>
    <p [ngStyle]="{'color':'red'}">Welcome to Angular Framework - Change color using ngStyle</p>
    <p [ngStyle]="styleVariable">Welcome to Angular Framework with ngStyle with variable</p>
    <p class="MyClass1">Welcome to Angular Framework - Class selector using CSS style</p>
    <p [ngClass]=" 'MyClass1' ">Welcome to Angular Framework - Class Selector using ngClass</p>
    <p [ngClass]="{MyClass1:true}">Welcome to Angular Framework - NgClass</p>
    <p [ngClass]="{MyClass2:true}">Welcome to Angular Framework - NgClass</p>
    <p [ngClass]="{MyClass1:true,MyClass2:true}">Welcome to Angular Framework - NgClass</p>
    <p [ngClass]="{MyClass1:true,MyClass2:false}">Welcome to Angular Framework - NgClass</p>
    <div [ngClass]="{MyClass1:f1,MyClass2:f2}" (mouseover)="change1()" (mouseout)="change2()">
        Dynamic effect 
    </div>
</div>