<div>
  <h2>Angular Data Binding</h2>
  <app-string-interpolation></app-string-interpolation>
  <hr/>
  <app-property-binding></app-property-binding>
  <hr/>
  <app-event-binding></app-event-binding>
  <hr/>
  <app-template-reference></app-template-reference>
  <hr/>
  <app-two-way-binding></app-two-way-binding>
</div>