<div>
    <form #productRef="ngForm" (ngSubmit)="storeProduct(productRef)" class="form-group">
        <label>PId</label>
        <input type="number" name="pid" ngModel class="form-control"/><br/>
        <label>PName</label>
        <input type="text" name="pname" ngModel class="form-control"/><br/>
        <label>Price</label>
        <input type="number" name="price" ngModel class="form-control"/><br/>
        <label>Image URL</label>
        <input type="url" name="url" ngModel class="form-control"/><br/>
        <input type="submit" value="store product" class="btn btn-success"/>
        <input type="reset" class="btn btn-info"/>
    </form>
    <!-- <input type="button" value="Display Product"
    (click)="loadProdcuts()"/> -->
    <br/>
    {{storeMsg}}
    <hr/>
    <div *ngIf="flag">
        <h2>Update Product</h2>
        <form (ngSubmit)="updateProductPrice()" class="form-group">
            <label>PId</label>
            <input type="number" name="pid" [(ngModel)]="pid" readonly class="formcontrol"/><br/>
            <label>Price</label>
            <input type="number" name="price" [(ngModel)]="price"/><br/>
            <input type="submit" value="update product"/>
            <input type="reset" value="reset"/>
        </form>
        <hr/>
    </div>
    <table class="table table-striped">
        <tr>
            <th>PId</th>
            <th>PName</th>
            <th>Price</th>
            <th>Images</th>
            <th>Date</th>
            <th>Delete Product</th>
            <th>Update Product</th>
            <th>Product Details</th>
        </tr>
        <tr *ngFor="let product of products">
            <td>{{product.pid}}</td>
            <td>{{product.pname | uppercase}}</td>
            <td>{{product.price | mypipe }}</td>
            <td><img src={{product.url}} width="200px" height="200px"/></td>
           <td>{{dd | date:'dd-MM-yyyy hh:mm:ss'}}</td>
            <td><input type="button" value="delete" (click)="deleteProduct(product.pid)" class="btn btn-primary"/></td> 
            <td><input type="button" value="update" (click)="updateProduct(product)" class="btn btn-secondary"/></td>
            <td>{{product | json}}</td>
        </tr>
    </table>
    <br/>
    {{deleteMsg}}
</div>