<div>
    <h2>User Defined Service</h2>
    <input type="button" value="Call Service without DI" (click)="fun1()"/>
    <br/>
    {{msg1}}
    <br/>
    <input type="button" value="Call Service with DI" (click)="fun2()"/>
    <br/>
    {{msg2}}
</div>