<div>
  <h2 align="center">Angular Routing Example</h2>
  <div align="right">
  <a routerLink="aboutus">About Us</a> |
  <a routerLink="contactus">Contact Us</a> |
  <a routerLink="login">Login</a>
  </div>
  <hr/>
  <router-outlet></router-outlet>
</div>