<div>
    <h3>Structure Directive Code</h3>
    <p>Welcome to Structure Directive</p>
    <p *ngIf="true">Welcome to Structure Directive</p>
    <p *ngIf="false">Welcome to Structure Directive</p>
    <p *ngIf="f1">Welcome to Structure directive with variable</p>
    <p *ngIf="f2">Welcome to Structure directive with variable</p>
    <input type="button" value="click here" (click)="fun()"/>

    <div *ngIf="f3">
                Welcome to Angular Framework
    </div>
    <br/>
    <input type="button" [value]="msg" (click)="toggle()"/>
    <div *ngIf="flag">
            Hello...................
    </div>
    <br/>
    <hr/>
    <div>*ngFor</div>
    {{num}}
    <div *ngFor="let n of num">
            <p>{{n}}</p>
    </div>
    <ul>
      <li *ngFor="let name of names">{{name}}</li>  
    </ul>
    <br/>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Salary</th>
        </tr>
        <tr *ngFor="let emp of employees">
                <td>{{emp.id}}</td>
                <td>{{emp.name}}</td>
                <td>{{emp.salary}}</td>
        </tr>
    </table>
    <hr/>
    <h2>ngSwitch Example</h2>
    <div>
        <div [ngSwitch]="label">
                <p *ngSwitchCase="1">
                     <span>This is block1</span>   
                </p>
                <p *ngSwitchCase="2">
                    <span>This is block2</span>   
               </p>
                <p *ngSwitchCase="3">
                <span>This is block3</span>   
                </p>
                <p *ngSwitchDefault>
                       <span>This is wrong choice</span> 
                </p>
        </div>
    </div>
</div>



