<div>
    <h3>Two way data binding using ngModel</h3>
    Salary :<input type="number" [(ngModel)]="salary"/>
    <br/>
    Salary {{salary}}
    <br/>
    Age :<input type="number" [value]="age"/>
    <br/>
    Age is {{age}}
</div>