<div>
    <h3>Template Reference</h3>
    <form>
        <label>UserName</label>
        <input type="text" #userRef/><br/>
        <label>Password</label>
        <input type="password" #passRef/><br/>
        <input type="button" value="Sign In!" (click)="checkUser(userRef,passRef)"/>
    </form>
    <br/>
    {{msg}}
</div>