<div>
    <h2>Child4 Component</h2>
    <input type="button" value="GetValue" (click)="getValue()"/>
    <h2>All values are</h2>
    <ul>
        <li *ngFor="let n of nums">{{n}}</li>
    </ul>
</div>