<div>
    <h4>one way data binding using string interpolation</h4>
    <p>Name is {{fname}}</p>
    <p>Sum of two number is {{10+20}}</p>
    <p>Sum of two number is {{a+b}}</p>
    <p>{{sayHello("Raju")}}</p>
    {{fname}}
</div>