<div>
    <h2>Child1 Component </h2>
    <p>Parent name is child1 component {{pName}}</p>
    
    Age :<input type="number" #ageRef/><br/>
    <input type="button" value="click here" (click)="setAge(ageRef)"/>
    <br/>
    Child age in child component {{childAge}}
</div>