<div>
  <h2>Component Communication</h2>
  Name :<input type="text" #nameRef/>
  <input type="button" value="click here"
  (click)="setValue(nameRef)"/>
  <br/>
  Parent Name is {{parentName}}
  <br/>
  Child age is {{cAge}}<br/>
  Child2 designation in parent component is {{childDesignation}}
  <hr/>
    <app-child1 [pName]="parentName" (eventRef)="cAge=$event"></app-child1>
  <hr/>
  <app-child2></app-child2>
  <hr/>
  <h2>Share the data between sibling component Child3 and Child4</h2>
  <hr/>
  <app-child3></app-child3>
  <hr/>
  <app-child4></app-child4>
  <hr/>
</div>