<div>
  <app-header></app-header>
  <h1>Welcome to My Simple Angular Project</h1>
  <p>
   Id is {{id}} Name is {{name}}, salary is {{salary}} and result is {{result}}
  </p>
  <child-tag></child-tag>
  <child-tag></child-tag>
  <child-tag></child-tag>
  <child-tag></child-tag>
  <child-tag></child-tag>
  <child-tag></child-tag>
</div>